@import 'helpers/reset';
@import 'helpers/variables';
@import 'helpers/typography';
@import 'helpers/components';

@import 'sections/header';
@import 'sections/horse';

body {
  &,
  & * {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    &::selection {
      background-color: rgba(adjust-hue($brand-color, 310deg), 0.5);
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}