@import 'helpers/reset';
@import 'helpers/variables';
@import 'helpers/typography';
@import 'helpers/components';

@import 'sections/header';
@import 'sections/menu';
@import 'sections/horse';
@import 'sections/special-offer';
@import 'sections/why-us';
@import 'sections/analysis';
@import 'sections/resons';
@import 'sections/our-team';
@import 'sections/footer';

body {
  &,
  & * {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    &::selection {
      background-color: rgba(adjust-hue($brand-color, 310deg), 0.5);
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}