/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic");
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.white-color {
  color: #fff; }

.brand-color {
  color: #cb0e17; }

.black-color {
  color: #000; }

.dark-color {
  color: #333; }

.beige-color {
  color: #e8e9e3; }

.uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: bold; }

.fweight-3 {
  font-weight: 300; }

.text-1 {
  font-size: 12px; }

.text-2 {
  font-size: 14px; }

.text-3 {
  font-size: 15px; }

.text-4 {
  font-size: 18px; }

.title-1 {
  font-size: 20px; }

.title-2 {
  font-size: 22px; }

.title-3 {
  font-size: 25px; }

.heading-1 {
  font-size: 30px; }

.heading-2 {
  font-size: 32px; }

.heading-3 {
  font-size: 35px; }

.headline-1 {
  font-size: 50px; }

.headline-2 {
  font-size: 130px; }

.container {
  margin: 0 auto;
  max-width: 1200px; }

.image {
  display: flex;
  align-items: center;
  justify-content: center; }
  .image img {
    max-height: 100%;
    max-width: 100%; }

.button {
  padding: 12px 9px;
  width: 230px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 5px 0 rgba(1, 1, 1, 0.75);
  text-transform: uppercase;
  background-color: #cb0e17;
  font-size: 15px;
  color: #fff;
  transition: background-color 0.2s, box-shadow 0.2s; }
  .button:hover {
    background-color: #f02630; }
  .button:focus {
    outline: none; }
  .button:active {
    box-shadow: 0 0 2px 0 rgba(1, 1, 1, 0.75); }

.form {
  filter: drop-shadow(2px 1px 10px rgba(1, 2, 2, 0.5)); }
  .form__body {
    position: relative;
    width: 280px;
    padding: 50px 20px 30px 22px;
    border: 1px solid #cb0e17;
    background: #fff;
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0%, 55% 0, 50% 13px, 45% 0); }
    .form__body:before, .form__body:after {
      content: "";
      display: block;
      width: 22px;
      height: 1px;
      top: 5px;
      left: calc(50% - 19px);
      position: absolute;
      background-color: #cb0e17;
      transform: rotate(43deg); }
    .form__body:after {
      left: calc(50% - 3px);
      transform: rotate(-43deg); }

.horizontal-form {
  filter: drop-shadow(2px 1px 10px rgba(1, 2, 2, 0.5)); }
  .horizontal-form__body {
    position: relative;
    max-width: 975px;
    padding: 37px 40px 43px 50px;
    border: 1px solid #cb0e17;
    background: #fff;
    clip-path: polygon(0 0, 0 45%, 13px 50%, 0 55%, 0% 100%, 100% 100%, 100% 0%, 0 0); }
    .horizontal-form__body:before, .horizontal-form__body:after {
      content: "";
      display: block;
      width: 18px;
      height: 1px;
      top: calc(50% - 6px);
      left: -1px;
      position: absolute;
      background-color: #cb0e17;
      transform: rotate(43deg); }
    .horizontal-form__body:after {
      top: calc(50% + 5px);
      transform: rotate(-43deg); }

.input__element {
  width: 230px;
  padding: 11px 11px 12px 30px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: border 0.2s;
  font-size: 14px;
  font-weight: 300; }
  .input__element:focus {
    border: 1px solid rgba(0, 0, 0, 0.75);
    outline: none; }
  .input__element::placeholder {
    font-size: 14px;
    font-weight: 300; }

.input:before {
  position: relative;
  top: 25px;
  left: 16px;
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  background: url(../images/helpers/arrow.png) center/cover no-repeat; }

.swiper-pagination-bullet {
  position: relative;
  height: 10px;
  width: 10px;
  background: transparent;
  transition: background-color 0.2s; }
  .swiper-pagination-bullet::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 6px;
    width: 6px;
    border: 1px solid #999;
    border-radius: 50%; }
  .swiper-pagination-bullet-active {
    background: #cb0e17; }

.modal {
  position: fixed;
  z-index: -99;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto; }
  .modal--fade-in {
    animation: fadeIn 0.5s forwards; }
  .modal--fade-out {
    animation: fadeOut 0.5s forwards; }
  .modal__body {
    position: relative;
    max-width: 390px;
    margin: auto;
    padding: 57px 80px 73px 80px;
    background-color: #fff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15), 0 14px 28px 0 rgba(0, 0, 0, 0.15); }
    .modal__body .title-2 {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #cb0e17; }
    .modal__body .button {
      margin-top: 20px; }

@keyframes fadeIn {
  from {
    visibility: visible;
    z-index: -99;
    opacity: 0; }
  to {
    visibility: visible;
    z-index: 99;
    opacity: 1; } }

@keyframes fadeOut {
  from {
    visibility: visible;
    z-index: 99;
    opacity: 1; }
  to {
    visibility: hidden;
    z-index: -99;
    opacity: 0; } }

.header {
  padding: 30px 0 57px 0;
  background: #bcaea3 url(../images/header/header-bg.png) center/cover no-repeat; }
  .header__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 67px; }
    .header__top .logo {
      width: 158px;
      height: 215px; }
      .header__top .logo__link {
        display: block;
        width: 100%;
        height: 100%;
        background: url(../images/header/logo.png) center/cover no-repeat; }
    .header__top .info {
      max-width: 447px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right; }
      .header__top .info .languages {
        display: flex;
        justify-content: space-between;
        width: 260px;
        box-sizing: border-box;
        margin-bottom: 30px; }
        .header__top .info .languages .lang {
          font-weight: 300;
          text-transform: capitalize;
          cursor: pointer; }
          .header__top .info .languages .lang--active {
            font-weight: bold; }
      .header__top .info .title-3 {
        margin-bottom: 10px;
        line-height: 1.2; }
      .header__top .info .heading-3 {
        margin-bottom: 3px; }
      .header__top .info .title-1 {
        margin-bottom: 29px; }
  .header__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .header__main .achievements {
      max-width: 725px; }
      .header__main .achievements .title-2 {
        margin-bottom: 9px; }
      .header__main .achievements .heading-1 {
        margin-bottom: 9px;
        font-weight: 300; }
      .header__main .achievements .headline-1 {
        margin-bottom: 109px; }
      .header__main .achievements__list {
        display: flex;
        flex-wrap: wrap; }
    .header__main .fob {
      margin-right: 53px; }
      .header__main .fob .text-3 {
        margin-bottom: 26px;
        font-weight: 300;
        line-height: 1.75; }
      .header__main .fob .title-2 {
        margin-bottom: 24px;
        font-weight: 300; }
      .header__main .fob .button {
        margin-top: 32px; }
  .header .achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 calc(100% / 3);
    padding: 0 15px;
    margin-bottom: 30px;
    text-align: center; }
    .header .achievement .image {
      width: 65px;
      height: 65px;
      margin-bottom: 14px; }

.menu {
  padding: 4px 0; }
  .menu .container {
    display: flex;
    justify-content: space-between; }
    .menu .container .image {
      height: 42px;
      margin-right: 10px; }
    .menu .container .nav {
      display: flex;
      flex: 0 1 600px;
      align-items: center;
      justify-content: space-between;
      text-align: center; }
      .menu .container .nav__item--active {
        color: #cb0e17; }

.horse {
  padding: 55px 0 50px 0;
  background: #bcaea3 url(../images/horse/horse-bg.png) center/cover no-repeat; }
  .horse .content {
    margin-left: auto;
    max-width: 657px;
    text-align: center;
    font-weight: 300; }
    .horse .content p {
      margin-top: 20px; }
      .horse .content p:first-child {
        margin-top: 0; }
    .horse .content .headline-1 {
      margin-top: 60px;
      font-weight: 100; }

.special-offer {
  padding-bottom: 60px;
  border-bottom: 2px dashed #aaa; }
  .special-offer .preview {
    margin-top: 60px; }
    .special-offer .preview .headline-1 {
      margin-top: 13px; }
    .special-offer .preview .heading-1 {
      margin-top: 8px; }
    .special-offer .preview .title-1 {
      margin-top: 22px; }
  .special-offer .swiper-container {
    margin-top: 25px;
    border-bottom: 1px solid #ccc; }
    .special-offer .swiper-container .swiper-slide {
      display: flex;
      flex-wrap: nowrap; }
      .special-offer .swiper-container .swiper-slide .image {
        margin-top: 20px;
        flex: 1 1 auto; }
      .special-offer .swiper-container .swiper-slide .content {
        margin-left: 43px;
        flex: 0 1 auto; }
        .special-offer .swiper-container .swiper-slide .content .slide-number {
          margin-top: 39px;
          font-size: 60px;
          font-weight: 100;
          color: #ccc; }
        .special-offer .swiper-container .swiper-slide .content .title-1 {
          margin-top: 44px;
          max-width: 350px;
          color: #333; }
  .special-offer .advantages {
    margin-top: 67px; }
    .special-offer .advantages .cards {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      .special-offer .advantages .cards .card {
        margin: 10px 10px 0 10px;
        flex: 0 1 290px;
        text-align: center; }
        .special-offer .advantages .cards .card .title-1 {
          margin-top: 30px; }
  .special-offer .button-wrapper {
    margin: 40px auto 0 auto;
    width: 230px; }

.why-us {
  padding-top: 60px;
  border-bottom: 1px dashed; }
  .why-us .preview .percent {
    margin-right: 60px;
    display: inline-block;
    font-size: 129.5px;
    font-weight: 300; }
  .why-us .preview .headings {
    display: inline-block; }
  .why-us .wrapper {
    margin-top: 45px;
    padding: 60px 0;
    background: #bcaea3 url(../images/why-us/translate-bg.png) center/cover no-repeat; }
  .why-us .swiper-container {
    padding-bottom: 56px;
    margin-top: 65px; }
    .why-us .swiper-container .text-4 {
      margin-top: 27px;
      max-width: 760px; }
  .why-us .horizontal-form {
    margin-top: 73px; }
    .why-us .horizontal-form__body {
      display: flex;
      justify-content: space-between; }
      .why-us .horizontal-form__body .content {
        margin-right: 10px;
        flex: 0 1 360px;
        font-weight: 300; }
        .why-us .horizontal-form__body .content .text-3 {
          margin-top: 35px; }
      .why-us .horizontal-form__body .add-file {
        margin-left: 10px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center; }
        .why-us .horizontal-form__body .add-file .file-input {
          position: relative;
          overflow: hidden;
          cursor: pointer; }
          .why-us .horizontal-form__body .add-file .file-input__element {
            display: none; }
          .why-us .horizontal-form__body .add-file .file-input .image {
            display: inline-block;
            margin-left: 20px;
            width: 10px;
            height: 16px;
            transform: translatey(4px); }
        .why-us .horizontal-form__body .add-file .progress {
          width: 41px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background: url(../images/why-us/progress.png) center/cover no-repeat; }

.analysis {
  padding: 60px 0; }
  .analysis .heading-3 {
    margin-top: 16px; }
  .analysis .text-4 {
    margin-top: 40px; }
  .analysis .cards {
    margin-top: 53px;
    display: flex;
    justify-content: space-evenly;
    text-align: center; }
    .analysis .cards .card {
      margin: 0 5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex: 0 1 340px; }
      .analysis .cards .card .text-4 {
        margin-top: 43px; }
      .analysis .cards .card .diagram {
        margin-top: 60px; }

.reasons {
  padding: 60px 0;
  background: #bcaea3 url(../images/reasons/reasons-bg.png) center/cover no-repeat; }
  .reasons .container {
    display: flex;
    justify-content: space-between; }
  .reasons .collage {
    margin-right: 15px;
    display: grid;
    grid-template-rows: repeat(3, minmax(20px, 256px));
    grid-template-columns: repeat(3, minmax(20px, 256px));
    grid-template-areas: "image-1 image-1 image-2" "image-3 image-4 image-5" "image-6 image-4 image-7"; }
    .reasons .collage .image {
      position: relative; }
      .reasons .collage .image .reason {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px;
        display: flex;
        text-align: center;
        background: #cb0e17;
        opacity: 0;
        transition: opacity 0.5s;
        cursor: default; }
        .reasons .collage .image .reason p {
          margin: auto;
          line-height: 1.2em; }
        .reasons .collage .image .reason:hover {
          opacity: 0.8; }
      .reasons .collage .image__1 {
        grid-area: image-1;
        background: url(../images/reasons/img-1.png) center/cover no-repeat; }
      .reasons .collage .image__2 {
        grid-area: image-2;
        background: url(../images/reasons/img-2.png) center/cover no-repeat; }
      .reasons .collage .image__3 {
        grid-area: image-3;
        background: url(../images/reasons/img-3.png) center/cover no-repeat; }
      .reasons .collage .image__4 {
        grid-area: image-4;
        background: url(../images/reasons/img-4.png) center/cover no-repeat; }
      .reasons .collage .image__5 {
        grid-area: image-5;
        background: url(../images/reasons/img-5.png) center/cover no-repeat; }
      .reasons .collage .image__6 {
        grid-area: image-6;
        background: url(../images/reasons/img-6.png) center/cover no-repeat; }
      .reasons .collage .image__7 {
        grid-area: image-7;
        background: url(../images/reasons/img-7.png) center/cover no-repeat; }
  .reasons .content {
    flex: 0 1 340px; }
    .reasons .content .title-1 {
      margin-top: 44px; }
    .reasons .content .form {
      margin-top: 40px; }
      .reasons .content .form__body .title-1 {
        margin-top: 36px; }
      .reasons .content .form__body .inputs {
        margin-top: 68px; }
      .reasons .content .form__body .button {
        margin-top: 37px; }

.our-team {
  padding: 60px 0 95px 0; }
  .our-team .heading-wrapper {
    margin-right: 115px;
    display: inline-block; }
  .our-team .title-1 {
    margin-top: 15px;
    display: inline-block; }
  .our-team .swiper-container {
    margin-top: 35px; }
    .our-team .swiper-container .swiper-wrapper {
      align-items: flex-end; }
    .our-team .swiper-container .swiper-slide .image {
      height: 400px; }
    .our-team .swiper-container .swiper-slide .name {
      margin-top: 25px; }
    .our-team .swiper-container .swiper-slide .languages {
      margin-top: 10px; }
    .our-team .swiper-container .renat .image {
      background: url(../images/our-team/renat.png) top/cover no-repeat; }
    .our-team .swiper-container .lisa .image {
      background: url(../images/our-team/elizaveta.png) top/cover no-repeat; }
    .our-team .swiper-container .eugen .image {
      background: url(../images/our-team/eugene.png) top/cover no-repeat; }
    .our-team .swiper-container .alex .image {
      background: url(../images/our-team/alex.png) top/cover no-repeat; }
    .our-team .swiper-container .barbara .image {
      background: url(../images/our-team/barbara.png) top/cover no-repeat; }
    .our-team .swiper-container .vadim .image {
      background: url(../images/our-team/vadim.png) top/cover no-repeat; }
    .our-team .swiper-container .kriss .image {
      background: url(../images/our-team/christina.png) top/cover no-repeat; }
    .our-team .swiper-container .mark .image {
      background: url(../images/our-team/mark.png) top/cover no-repeat; }
    .our-team .swiper-container .sarah .image {
      background: url(../images/our-team/sara.png) top/cover no-repeat; }
    .our-team .swiper-container .swiper-button-next,
    .our-team .swiper-container .swiper-button-prev {
      top: 85%;
      width: 27px;
      height: 27px;
      background-image: url(../images/helpers/arrow.png);
      background-size: 10px 16px; }
    .our-team .swiper-container .swiper-button-prev {
      transform: rotate(180deg); }

.footer {
  padding-top: 34px;
  background: #bcaea3 url(../images/footer/footer-map.png) center/cover no-repeat; }
  .footer .container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; }
    .footer .container .contacts {
      margin-bottom: 100px;
      margin-right: 30px;
      text-align: right; }
      .footer .container .contacts .title-3 {
        font-weight: 500; }
      .footer .container .contacts .addresss {
        margin-top: 21px; }
    .footer .container .form {
      margin-right: 55px; }
      .footer .container .form__body .title-3 {
        margin-top: 5px; }
      .footer .container .form__body .title-1 {
        margin-top: 21px; }
      .footer .container .form__body .textarea {
        resize: none; }
      .footer .container .form__body .button {
        margin-top: 35px; }
  .footer .red-line {
    margin-top: 34px;
    padding: 6px 0;
    background: #cb0e17; }
    .footer .red-line .container {
      display: flex;
      justify-content: space-between; }
      .footer .red-line .container .social {
        display: flex;
        height: 20px; }
        .footer .red-line .container .social .image {
          margin: 0 3px;
          cursor: pointer; }

body,
body * {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }
  body::selection,
  body *::selection {
    background-color: rgba(203, 14, 181, 0.5); }

a {
  text-decoration: none;
  color: inherit; }

@media (max-width: 1200px) {
  .container {
    padding: 0 16px; } }

@media (max-width: 900px) {
  .header__top {
    justify-content: center; }
    .header__top .info {
      align-items: center;
      max-width: 100%;
      text-align: center; }
  .header .achievements {
    margin: auto; }
  .header .headline-1 {
    font-size: 40px; }
  .header .achievements__list {
    justify-content: center; }
  .header .fob {
    margin: 0 auto; }
  .why-us .horizontal-form__body {
    flex-direction: column;
    align-items: center;
    clip-path: none; }
    .why-us .horizontal-form__body::before, .why-us .horizontal-form__body::after {
      display: none; }
    .why-us .horizontal-form__body .content {
      flex: 0 1 auto; }
    .why-us .horizontal-form__body .inputs {
      margin-top: 15px; }
    .why-us .horizontal-form__body .add-file > * {
      margin: 10px; }
  .reasons .container {
    flex-direction: column-reverse;
    align-items: center; }
    .reasons .container .form {
      margin: 40px 0; }
      .reasons .container .form__body {
        margin: auto; }
    .reasons .container .collage {
      margin-right: 0; } }

@media (max-width: 700px) {
  .menu .nav {
    flex-direction: column; }
    .menu .nav__item {
      margin: 3px 0; }
  .menu .image {
    display: none; }
  .special-offer .swiper-slide {
    flex-direction: column-reverse; }
  .special-offer .advantages .heading-1 {
    text-align: center; }
  .why-us .percent {
    margin-right: 0 !important;
    font-size: 53px !important; }
  .analysis .cards {
    flex-wrap: wrap; }
    .analysis .cards .card {
      margin-top: 15px; }
  .reasons .collage {
    grid-template-rows: repeat(5, minmax(20px, 256px));
    grid-template-columns: repeat(2, minmax(20px, 256px));
    grid-template-areas: "image-1 image-1" "image-2 image-7" "image-4 image-5" "image-4 image-6" "image-3 image-3"; }
  .our-team .heading-wrapper {
    margin-right: 85px; }
  .footer .container {
    flex-wrap: wrap; }
    .footer .container .contacts {
      margin-bottom: 40px; }
    .footer .container .form {
      margin: auto; }
  .modal__body {
    padding: 20px; }
  [class*="text"] {
    font-size: 12px; }
  [class*="title"] {
    font-size: 14px; }
  [class*="heading"] {
    font-size: 20px; }
  [class*="headline"] {
    font-size: 24px; } }
