.analysis {
  padding: 60px 0;
  .heading-3 {
    margin-top: 16px;
  }
  .text-4 {
    margin-top: 40px;
  }
  .cards {
    margin-top: 53px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    .card {
      margin: 0 5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex: 0 1 340px;
      .text-4 {
        margin-top: 43px;
      }
      .diagram {
        margin-top: 60px;
      }
    }
  }
}
