.horse {
  padding: 55px 0 50px 0;
  background: #bcaea3 url(../images/horse/horse-bg.png) center/cover
    no-repeat;

  .content {
    margin-left: auto;
    max-width: 657px;
    text-align: center;
    font-weight: 300;

    p {
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }
    }

    .headline-1 {
      margin-top: 60px;
      font-weight: 100;
    }
  }
}
