.why-us {
  padding-top: 60px;
  border-bottom: 1px dashed;
  .preview {
    .percent {
      margin-right: 60px;
      display: inline-block;
      font-size: 129.5px;
      font-weight: 300;
    }
    .headings {
      display: inline-block;
    }
  }

  .wrapper {
    margin-top: 45px;
    padding: 60px 0;
    background: #bcaea3 url(../images/why-us/translate-bg.png) center/cover no-repeat;
  }

  .swiper-container {
    padding-bottom: 56px;
    margin-top: 65px;

    .text-4 {
      margin-top: 27px;
      max-width: 760px;
    }
  }

  .horizontal-form {
    margin-top: 73px;
    &__body {
      display: flex;
      justify-content: space-between;
      .content {
        margin-right: 10px;
        flex: 0 1 360px;
        font-weight: 300;
        .text-3 {
          margin-top: 35px;
        }
      }
      .add-file {
        margin-left: 10px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        .file-input {
          position: relative;
          overflow: hidden;
          cursor: pointer;
          &__element {
            display: none;
          }
          .image {
            display: inline-block;
            margin-left: 20px;
            width: 10px;
            height: 16px;
            transform: translatey(4px);
          }
        }
        .progress {
          width: 41px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background: url(../images/why-us/progress.png) center/cover no-repeat;
        }
      }
    }
  }
}
